@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown" style="margin-left:20px">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            <img src="~/images/user_small_square.png" width="24" height="24" />
            <span class="caret"></span>
        </button>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <ul class="dropdown-menu">
                <li>
                    @UserManager.GetUserName(User)
                </li>
                <li class="logoutFormLinks">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                </li>
                <li class="logoutFormLinks">
                    <a asp-area="Identity" asp-page="" title="Manage">My Visits</a>
                </li>
                <li class="logoutFormLinks">
                    <a asp-area="Identity" asp-page="" title="Manage">My History</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>
    </div>
}
else
{
    <ul class="nav loginLinks">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
